@font-face {
    font-family: Rebrand-header;
    src: url(./fonts/Rebrand\ Light.ttf);
}

@font-face {
    font-family: Henderson-Sana-basic;
    src: url(./fonts/Henderson\ Sans.otf);
}

@font-face {
    font-family: Henderson-Sana-bold;
    src: url(./fonts/HendersonSans\ Bold.otf);
}

*{
    margin:0;
    padding:0;
    box-sizing: 0;
    background-color: #0c0c4c;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    height: 100px;
}

.logo{
  background-image: url("./images/header .png");  
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.header h1{
    font-family: Rebrand-header;
    color: white;
    font-size: 400%;
    height:115%;
} 

.building{
  background-image: url("./images/building.png");  
  width: 350px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3% auto;
}

.rent-statement{
    font-family: Henderson-Sana-basic;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
}

.Start-btn {
    font-family: Henderson-Sana-basic;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 1em 2.5em;
    border-radius: 1.5em;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1c1ce5;
    text-decoration: none;
    display: block; 
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 40px;
}

.Start-btn:hover {
    color: #1c1ce5;
    background: white;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .Start-btn {
        margin-top: 24%;
        margin-bottom: 40px;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
        height: 100px;
    }
}

