@font-face {
    font-family: Rebrand-header;
    src: url(./fonts/Rebrand\ Light.ttf);
}

@font-face {
    font-family: Henderson-Sana-basic;
    src: url(./fonts/Henderson\ Sans.otf);
}

@font-face {
    font-family: Henderson-Sana-bold;
    src: url(./fonts/HendersonSans\ Bold.otf);
}

:root{
    --primary: #111;
}
*{
    margin:0;
    padding:0;
    box-sizing: 0;
    background-color: #f1eff4;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: 100px;
}

.logo{
  background-image: url("./images/header\ 2.png");  
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.header h1{
    font-family: Rebrand-header;
    color: #0c0c4c;
    font-size: 300%;
    height:95%;
} 

.heading{
    margin-left:10px;
    color: #0c0c4c;
    font-size: 15px;
    font-family: Henderson-Sana-basic;
}

#all{
    margin-bottom: 30px;
}

#firstname{
    margin-top: 3px;
}

#lastname{
    margin-top: 3px;
}

#email{
    margin-top: 3px;
}

#tely{
    margin-top: 3px;
}

#form{
    width:300px;
    margin:3vh auto 0 auto;
    padding:20px;
    border-radius: 7px;
    font-size: 15px;
    font-family: Henderson-Sana-basic;
}

#form button{
    font-family: Henderson-Sana-basic;
    padding: 1em 2.5em;
    margin-bottom:10px;
    width:40%;
    color:white;
    background-color: #1c1ce5;
    border:none;
    border-radius: 1.5em;
    cursor: pointer;
    margin-left:90px ;
}

#form button:hover{
    color: #1c1ce5;
    background:white ;
}

.input-control{
    display:flex;
    flex-direction: column;
}

.input-control input{
    border: 1px solid black;
    border-radius: 9px;
    display: block;
    font-size: 12px;
    padding:9px;
    width:100%;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
    margin-bottom: 5px;
}

.input-control.error{
    color: #ff3860;
    border-radius: 9px;
    display: block;
    font-size: 12px;
    width:100%;
    margin-bottom: 10px !important;
}

.select-box{
    position:relative;
    width:300px;
    margin:3vh auto 0 auto;
    border-radius: 7px;
    font-size: 15px;
    font-family: Henderson-Sana-basic;
    
}

.select-box input{
    border: 1px solid black;
    border-radius: 9px;
    display: block;
    font-size: 12px;
    padding:9px;
    width:90%;
}

input[type="tel"] {
    border: 1px solid black;
    border-radius: 9px;
    display: block;
    font-size: 12px;
    padding:9px;
    width:81.6%;
    margin-right: 200px;

}

.select-box input:focus{
    outline: 0;
}

.selected-option{
    border-color: black;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-option .div{
    position: relative;
    width: 6rem;
    padding: 0 2.8rem 0 .5rem;
    text-align: center;
    cursor: pointer;
    left: -9px;
    display: grid;
    bottom: 8px;
}

.iconify{
    margin-left: 15px;
}

.selected-option .div::after{
    position: absolute;
    content:"";
    right: 1rem;
    top:35%;
    transform: translateY(-50%) rotate(45deg);
    width:.8rem;
    height:.8rem;
    border-right: .12rem solid black;
    border-bottom: .12rem solid black;

    transition:.2s;
}

.selected-option .div.active::after{
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options{
    position:absolute;
    top: 6rem;
    width:80%;
    border-radius: .5rem;
    display: none;
}

.select-box .options.active {
    display: block;
}

.select-box .options::before{
    position:absolute;
    content:"";
    left:1.65rem;
    top: -1rem;
    width:0;
    height:0;
    border: .6rem solid transparent;
    border-bottom-color: black;
}

input.search-box {
    background-color: black;
    color: #fff;
    border-radius: .5rem .5rem 0 0;
    padding: 1rem 1rem;
}

.select-box ol {
    max-height: 23rem;
    overflow: overlay;
    list-style: none;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
    border: 1px solid black;

}

.select-box ol li .country-name {
    margin-left: .4rem;
}


@media only screen and (max-width: 700px) {
    .Start-btn {
        margin-top: 10%;
        margin-bottom: 40px;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
        height: 100px;
    }
}