@font-face {
    font-family: Rebrand-header;
    src: url(./fonts/Rebrand\ Light.ttf);
}

@font-face {
    font-family: Henderson-Sana-basic;
    src: url(./fonts/Henderson\ Sans.otf);
}

@font-face {
    font-family: Henderson-Sana-bold;
    src: url(./fonts/HendersonSans\ Bold.otf);
}

*{
    margin:0;
    padding:0;
    box-sizing: 0;
    background-color: #f1eff4;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: 100px;
}

.logo{
  background-image: url("./images/header\ 2.png");  
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.header h1{
    font-family: Rebrand-header;
    color: #0c0c4c;
    font-size: 300%;
    height:95%;
} 

.heading{
    margin-left:10px;
    color: #0c0c4c;
    font-size: 15px;
    font-family: Henderson-Sana-basic;
}

#all{
    margin-bottom: 30px;
}

#firstname{
    margin-top: 3px;
}

#lastname{
    margin-top: 3px;
}

#email{
    margin-top: 3px;
}

#tely{
    margin-top: 3px;
}

#form{
    width:300px;
    margin:3vh auto 0 auto;
    padding:20px;
    border-radius: 7px;
    font-size: 15px;
    font-family: Henderson-Sana-basic;
}

#form button{
    font-family: Henderson-Sana-basic;
    padding: 1em 2.5em;
    margin-bottom:10px;
    width:40%;
    color:white;
    background-color: #1c1ce5;
    border:none;
    border-radius: 1.5em;
    cursor: pointer;
    margin-left:90px ;
}

#form button:hover{
    color: #1c1ce5;
    background:white ;
}

.input-control{
    display:flex;
    flex-direction: column;
}

.input-control input{
    border: 1px solid black;
    border-radius: 9px;
    display: block;
    font-size: 12px;
    padding:9px;
    width:100%;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
    margin-bottom: 5px;
}

.input-control.error{
    color: #ff3860;
    border-radius: 9px;
    display: block;
    font-size: 12px;
    width:100%;
    margin-bottom: 10px !important;
}


@media only screen and (max-width: 700px) {
    .Start-btn {
        margin-top: 10%;
        margin-bottom: 40px;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
        height: 100px;
    }
}